	/* ---- Basic ---- */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  background-color:#FFF8F2;
}
.wrapper {
  text-align: center;
 }

h1 {
   font-size: 2em;
    
}
h2 {
  margin-bottom: 15px;
  font-size: 1.2em;

}
/* ---- Header---- */

.name {
margin-top: 16px;
}
.main-header, 
.main-nav {
  display: flex;
  flex-direction: column;
  }
.main-header {
  margin-bottom: 2em;
  background: #d9e4ea;
  border-bottom:1px solid gray;
}

.main-nav {
  list-style: none;
  padding-left:0;
 
}
.main-nav li {
  list-style: none;
  padding: 1em;
  font-size: .95em;
    
}
.name,
.main-nav li {
  margin-bottom: 6px;
  text-align: center;
  display: inline-block;
   
}
.main-nav a {
  text-decoration: none;
  padding: 0.4em;
  text-transform: uppercase;
  font-weight:bold;
    
}
.main-nav a {
  width: 135px;
  text-decoration: none;
  color:inherit;
  display: inline-block;
  padding: 8px;
/*  border: 3px solid teal;*/
  background-color: teal;
  color: white;
  border-radius: 5%;
}

.main-nav a:hover {
  color: #0b0b0b;
}




/*---------------Banner--------------*/


.banner {
  padding-bottom: 2em;
}
.banner p {
  font-size:1.125em;
  
}
.profile-icon {
  width: 100%;
  max-width:350px;
  border-radius: 10%;
  margin-left:1.5%;
  margin-right:1.5%;
 }

/*---------------Portfolio--------------*/
.columns h2 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.35em;
}
.gallery h2 {
  font-size: 1.2em;
}
p {
  font-size: 1em;
	margin-bottom: 1.5em;
}
.gallery {
  background: #FAF0F0;
  
}

.third {
  clear:left;
}
.column-icon {
  width: 100%;
  max-width:700px;  
}

.gallery {
  max-width: 100%;
  margin: 35px auto;
}
.gallery h2,
.gallery p{
  max-width: 90%;
  margin-left:auto;
  margin-right:auto;
  }
.banner,
.columns {
margin-bottom: 30px;
border-bottom: 1px solid grey;
}

/* ---- Skills      ----       */

#skills {
  margin-bottom: 25px;
  border-bottom: 1px solid grey;
}
.skills-list {
 padding-left:0;
}
.skills-list li {
  list-style: none;
  width: 135px;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 15px 25px; 
  border: 1px solid black;
  border-radius: 5%;
  background: #DAE2F8; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DAE2F8 , #D6A4A4); /* Chrome 10-25,       Safari 5.1-6 */
  background: linear-gradient(to left, #DAE2F8 , #D6A4A4); /* W3C, IE 10+/ Edge,          Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ;
  }


/* ---- Contact section ---- */

.contact-list  {
  list-style: none;
  width: 30%;
  padding-left:0;
  margin: 0 auto;
  }  
.contact-list a {
  
  display: block; /* aby neboli obrazky v texte ale zaberali miesto*/
  min-height: 20px; /* toto je najmensia velkost aby boli viditelne*/
  background-repeat:no-repeat; /*tie sa vzdy opakuju defaultne*/
  background-size: 30px 30px; /* obrazok je ina velkost takze upravujeme co chceme za obrazky ako vo footeri*/
  padding: 0 0 0 25px; /*text posunieme a spravime miesto vlavo kde budu obrazky*/
  margin: 0 0 10px; /* spravi priestor medzi tymi troma riadkami*/
  text-decoration: none;
  color: inherit;
}
.contact-list a:hover {
  color: slategrey;
  
}


.contact-list li.phone a {
  background-image: url('../images/phone.png');
}
.contact-list li.mail a {
  background-image: url('../images/mail.png');
}
.contact-list li.twitter a {
  background-image: url('../images/twitter.png');
}


/* ---- Layout ---- */


.container {
	padding-left: 1em;
	padding-right: 1em;
  margin-bottom:3em;
  
}
/* ---- Footer ---- */

.main-footer {
  font-weight:bold;
  width: 100%;
  text-align: center;
  background: #d9e4ea;
  padding: 0 3%;
  border-top:1px solid grey;
}
	
.main-footer a{
 text-decoration: none;
  color: inherit;
  }
.main-footer a:hover {
  color: slategrey;
    
 }

.footer-name {
  padding:1em;
  float: left;
}
.footer-nav,
.back-to-top{
  padding:1em;
  float: right;
}
.footer-nav {
display:none;}



.wrapper {
    min-height: calc(100vh - 58px);
      }

/* ---- Float clearfix ---- */

.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
